<article class="article-card">
  <a href="{{ url }}" title="{{ title }}">
    <figure class="article-card--image">
      <img
        src="{%-if img != blank -%}{{ img | img_url:"1000x" }} {%- else -%} {{- img_url -}} {% endif %}"
        width
        height
        alt=" {{ title }}"
        loading="lazy"
        data-xblocker="passed"
      >
    </figure>
    <div class="article-card--content">
      <h3 class="article-title">
        {{- title -}}
        <span>{{- sub_title -}}</span>
      </h3>
      <span class="article-subheading">{{- desc -}}</span>
      <p>
        <span class="link">{{- text -}}</span>
      </p>
    </div>
  </a>
</article>
