{% render 'section-settings' %}

<section class="bg-accent">
    <div class="container">
        <h2 class="mb-40">{{ section.settings.heading }}</h2>
        <div class="grid lg-grid-3 card-gap">
            {% for block in section.blocks %}
                <div class="news-card">
                    <div class="news-card--image">
                        <img src="{{ block.settings.image | img_url:"1000x" }}" width height alt="" loading="lazy" data-xblocker="passed">
                    </div>
                    <div class="news-card--content">
                        <h3>{{ block.settings.title }}</h3>
                            <span class="subtitle">{{ block.settings.desc }}</span>
                        <div class="news-card--footer">
                        <a href="{{ block.settings.url}}" class="btn">{{ block.settings.btn_text }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


{% schema %}

    {
        "name": "Big Account",
        "settings":[
            {
                "type":"color",
                "id":"bg_color",
                "label":"Background Color"
            },
            {
                "type": "header",
                "content": "padding settings"
            },
            {
                "type": "range",
                "id": "ptop",
                "min": 0,
                "max": 36,
                "step": 4,
                "unit": "px",
                "label": "Padding top",
                "default": 20
            },
            {
                "type": "range",
                "id": "pbottom",
                "min": 0,
                "max": 36,
                "step": 4,
                "unit": "px",
                "label": "Padding bottom",
                "default": 20
            },
            {
                "type":"text",
                "id":"heading",
                "label":"Heading"
            }

        ],
        "blocks":[
            {
                "name":"Grid Item",
                "type":"grid_item",
                "settings":[
                    {
                        "type" : "image_picker",
                        "id":"image",
                        "label":"Image"
                    },{
                        "type" : "text",
                        "id":"title",
                        "label":"Title"
                    },{
                        "type" : "text",
                        "id":"desc",
                        "label":"Description"
                    }, {
                        "type" : "url",
                        "id":"url",
                        "label":"Button Url"
                    }, {
                        "type" : "text",
                        "id":"btn_text",
                        "label":"Button text"
                    }
                ]
            }
        ],  
        "presets":[
            {
                "name":"Big Account"
            }
        ]        
    }
{% endschema %}