{% render 'section-settings' %}
<style>
    #shopify-section-{{ section.id }} a{
        text-decoration: underline;
    }
    #shopify-section-{{ section.id }} .btn{
        text-decoration: none;
    }
</style>
<section class="bg-accent">
    <div class="container">
        <div class="featured-article">
            <div class="">
                <h2>{{ section.settings.heading }}</h2>
            </div>
            <div class="grid md-grid-2 xl-grid-3 grid-gap-md">
                {% for block in section.blocks %}
                    {% case block.type %}
                        {% when 'grid_item' %}
                            <div>
                                <div class="bb bt pbb">
                                    <p>{{ block.settings.title }}</p>
                                </div>
                                <div class="bb pbb">
                                    <table>
                                        <tbody>
                                            
                                            <tr>
                                                <th>{{ block.settings.label_1 }}</th>
                                                <td>
                                                    <p>
                                                        {%- if block.settings.url_1 != blank -%}
                                                            <a href="{{ block.settings.url }}">
                                                                {{ block.settings.desc_1 }}
                                                            </a>
                                                            {%- else -%}
                                                            {{ block.settings.desc_1 }}
                                                        {% endif%}
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>{{ block.settings.label_2 }}</th>
                                                <td>
                                                    <p>
                                                        {%- if block.settings.url_2 != blank -%}
                                                            <a href="{{ block.settings.url }}">
                                                                {{ block.settings.desc_2 }}
                                                            </a>
                                                            {%- else -%}
                                                            {{ block.settings.desc_2 }}
                                                        {% endif%}
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>{{ block.settings.label_3 }}</th>
                                                <td>
                                                    <p>
                                                        {%- if block.settings.url_3 != blank -%}
                                                            <a href="{{ block.settings.url }}">
                                                                {{ block.settings.desc_3 }}
                                                            </a>
                                                            {%- else -%}
                                                            {{ block.settings.desc_3 }}
                                                        {% endif%}
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>{{ block.settings.label_4 }}</th>
                                                <td>
                                                    <p>
                                                        {%- if block.settings.url_4 != blank -%}
                                                            <a href="{{ block.settings.url }}">
                                                                {{ block.settings.desc_4 }}
                                                            </a>
                                                            {%- else -%}
                                                            {{ block.settings.desc_4 }}
                                                        {% endif%}
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {%- when 'img_richtext' -%}
                           <div>
                                <figure>
                                    <img src="{{ block.settings.img | img_url : '1000x' }}" alt="" width height loading="lazy" >
                                </figure>
                                <div>
                                    {{ block.settings.text }}
                                </div>
                            </div>
                        {%- when 'img_with_button' -%}
                            <div class="md-span-2 xl-span-1 flex-column">
                                <figure>
                                    <img src="{{ block.settings.img | img_url : '1000x' }}" alt="" width height loading="lazy" >
                                </figure>
                                <div class="flex h-full">
                                    <a class="btn m-auto" href="{{ block.settings.url }}">{{ block.settings.text }}</a>
                                </div>
                            </div>
                    {% endcase %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>


{% schema %}

    {
        "name": "Featured article",
        "settings":[
            {
                "type":"color",
                "id":"bg_color",
                "label":"Background Color"
            },
            {
                "type": "header",
                "content": "padding settings"
            },
            {
                "type": "range",
                "id": "ptop",
                "min": 0,
                "max": 36,
                "step": 4,
                "unit": "px",
                "label": "Padding top",
                "default": 20
            },
            {
                "type": "range",
                "id": "pbottom",
                "min": 0,
                "max": 36,
                "step": 4,
                "unit": "px",
                "label": "Padding bottom",
                "default": 20
            },
            {
                "type":"text",
                "id":"heading",
                "label":"Heading"
            }

        ],
        "blocks":[
            {
                "name":"List item",
                "type":"grid_item",
                "settings":[
                    {
                        "type" : "text",
                        "id":"title",
                        "label":"Title"
                    },{
                        "type" : "text",
                        "id":"label_1",
                        "label":"Label 1"
                    }, {
                        "type" : "url",
                        "id":"url_1",
                        "label":"Url 1"
                    }, {
                        "type" : "text",
                        "id":"desc_1",
                        "label":"Text_1"
                    },
                    {
                        "type" : "text",
                        "id":"label_2",
                        "label":"Label 2"
                    }, {
                        "type" : "url",
                        "id":"url_2",
                        "label":"Url 2"
                    }, {
                        "type" : "text",
                        "id":"desc_2",
                        "label":"Text_2"
                    },{
                        "type" : "text",
                        "id":"label_3",
                        "label":"Label 3"
                    }, {
                        "type" : "url",
                        "id":"url_3",
                        "label":"Url 3"
                    }, {
                        "type" : "text",
                        "id":"desc_3",
                        "label":"Text_3"
                    },{
                        "type" : "text",
                        "id":"label_4",
                        "label":"Label 4"
                    }, {
                        "type" : "url",
                        "id":"url_4",
                        "label":"Url 4"
                    }, {
                        "type" : "text",
                        "id":"desc_4",
                        "label":"Text_4"
                    }
                    
                    
                ]
            },
            {
                "name":"img with richtext",
                "type":"img_richtext",
                "settings":[
                    {
                        "type":"image_picker",
                        "id":"img",
                        "label":"img"
                    },
                    {
                        "type":"richtext",
                        "id" : "text",
                        "label":"Text"
                    }
                ]
            }, {
                "name":"img with button",
                "type":"img_with_button",
                "settings":[
                    {
                        "type":"image_picker",
                        "id":"img",
                        "label":"img"
                    },{
                        "type":"url",
                        "id" : "url",
                        "label":"URL"
                    },{
                        "type":"text",
                        "id" : "text",
                        "label":"Text"
                    }
                ]
            }
            
        ],  
        "presets":[
            {
                "name":"Featured article"
            }
        ]        
    }
{% endschema %}